main {
  margin-top: 0;
}
#categories {
  padding-top: calc(1rlh + 2vw);
  padding-bottom: 1rlh;
  display: flex;
  flex-direction: column;
  gap: 1rlh;
  #buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    flex-wrap: wrap;
    column-gap: 1rlh;
    row-gap: 0.5rlh;
  }
}
#news {
  margin-top: calc(-2rlh - 2vw);
  width: 100%;
}
#offers {
  margin: 0 -5vw;
  display: flex;
  flex-direction: row;
  gap: 2rlh;
  .offers_subdiv {
    height: fit-content;
    width: calc(50% - 1rlh);
    padding: 0.5rlh;
    .carousel {
      padding: 1rlh;
      display: grid;
      grid-template-columns: repeat(5, calc((200% - 1rlh) / 5));
      gap: 1rlh;
      overflow-x: auto;
      scroll-padding: 1rlh;
      text-align: center;
    }
  }
  .offers_subdiv:first-of-type {
    padding-left: 5vw;
  }
  .offers_subdiv:last-of-type {
    padding-right: 5vw;
  }
}

/*----------+----------+----------+----------*/
@media screen and (width < 800px) {
  #offers {
    display: flex;
    flex-direction: column;
    gap: calc(2rlh + 2vw);
    .offers_subdiv {
      width: 100%;
      padding: 0.5rlh 5vw;
      border-radius: 0;
      .carousel {
        grid-template-columns: repeat(5, 100%);
        mask: linear-gradient(90deg, #0000, #000 10% 90%, #0000);
      }
    }
  }
}
