section {
  display: flex;
  flex-direction: column;
  gap: 1rlh;
}
.sorting {
  padding: 0.5rlh;
  display: flex;
  flex-direction: row;
  gap: 1ex;
  align-items: center;
}
.list_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rlh;
}
.product {
  padding: 0.5rlh;
  display: flex;
  flex-direction: column;
  gap: 0.5rlh;
  .img_wrapper {
    aspect-ratio: 1/1;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rlh;
    .price {
      min-width: fit-content;
      max-width: 100%;
      display: inline-block;
      text-align: end;
    }
  }
}
/*----------+----------+----------+----------*/
@media screen and (width < 800px) {
  .product {
    .header {
      display: flex;
      flex-direction: column;
      gap: 0.125rlh;
    }
  }
}
