/* ----universal---- */
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p,
a {
  font-family: Sarabun;
}

.logo {
  max-width: 400px;
  margin-left: 0.2em;
}

nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1em;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: larger;
  display: block;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (width < 800px) {
  .logo {
    height: 40px;
    padding-bottom: 1rem;
   padding-top: 0.8em;
  }
  .menu {
    display: none;
    margin: 0;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
    margin-top: 25px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  nav.active .menu {
    display: block;
    background-color: #fcfdfc;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  nav.active .menu li {
    margin: 10px 20px;
  }
  nav.active .menu a {
    font-size: 24px;
  }
}

footer {
  background-color: #4f0202;
}
.footergrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  padding: 3rem;
}

.footergrid li a {
  text-decoration: none;
  color: white;
}

.footergrid ul {
  list-style: none;
}
