/*----------| UNIVERSAL STYLING |----------*/
html {
  transition-behavior: allow-discrete;
  /*| COLOURS |*/
  --colour_main-red: #4f0202;
  --colour_black: #000;
  --colour_dark-grey: #bbb;
  --colour_white: #fff;
  --colour_off-white: #eee;
  /*| TEXT & FONTS |*/
  font-family: Sarabun;
  font-size: calc(13px + 0.45vw);
  h1 {
    font-weight: 900;
    font-size: calc(30px + 1.2vw);
  }
  h2 {
    font-size: calc(25px + 1vw);
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .page_heading {
    font-size: calc(20px + 0.8vw);
    text-transform: capitalize;
  }
  .menu {
    a {
      font-weight: 700;
      font-size: calc(16px + 0.4vw);
    }
    a:hover {
      color: var(--colour_main-red);
      scale: 1.1;
    }
  }
  .title {
    font-weight: 900;
  }
  .product_info {
    .brand {
      font-size: calc(16px + 0.8vw);
    }
    .price {
      font-size: calc(16px + 1vw);
      font-weight: bold;
    }
  }
  .button {
    font-size: calc(14px + 0.6vw);
  }
  /*| STUFF |*/
  .footer_header {
    border-bottom: 1.5px solid var(--colour_white);
  }
}

/*----------| PAGE ELEMENTS |----------*/
header {
  border-bottom: 0.25rlh solid var(--colour_dark-grey);
}
footer {
  background-color: var(--colour_main-red);
  color: var(--colour_white);
}

/*| INDEX |*/
#categories {
  background-color: var(--colour_off-white);
}
#news {
  background-color: var(--colour_main-red);
  h2 {
    color: var(--colour_white);
  }
}
.offers_subdiv {
  background-color: var(--colour_main-red);
  h2 {
    color: var(--colour_white);
  }
  .carousel {
    mask: linear-gradient(90deg, #0000, #000 10% 80%, #0000);
    .product {
      background-color: var(--colour_white);
    }
    .product:hover {
      scale: 1.025;
      box-shadow: 0 0 0.5rlh rgba(255, 0, 0, 0.25);
    }
  }
}
.offers_subdiv:first-of-type {
  border-top-right-radius: 1rlh;
  border-bottom-right-radius: 1rlh;
}
.offers_subdiv:last-of-type {
  border-top-left-radius: 1rlh;
  border-bottom-left-radius: 1rlh;
  h2 {
    padding-left: 0.5rlh;
  }
}

/*| PRODUCTLIST |*/
.list_grid {
  .product {
    box-shadow: 0 0 0.5rlh rgba(0, 0, 0, 0.1);
  }
}

/*----------| UNIQUE ELEMENTS |----------*/
.button {
  color: var(--colour_white);
  background-color: var(--colour_main-red);
  border-radius: 0.5lh;
}

#product_card {
  box-shadow: 0 0 0.5rlh rgba(0, 0, 0, 0.1);
}
.img_lineup {
  .product {
    background-color: var(--colour_white);
    box-shadow: 0 0 0.5rlh rgba(0, 0, 0, 0.1);
    .title {
      font-size: 125%;
      text-align: center;
    }
  }
  .product:hover {
    scale: 1.025;
    box-shadow: 0 0 0.5rlh rgba(255, 0, 0, 0.25);
  }
}
